html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ropa {
  font-family: "gloria Hallelujah";
  border: 2px dashed black;
  padding: 4px;
  margin: 4px;
  background-color: rgba(215, 215, 215, 0.355);
}


@font-face {
  font-family: "Newspaper";
  src: url(/Assets/fonts/NewspaperPersonalUseSemiExpandedRegular-7B0GB.ttf);
}
@font-face {
  font-family: "Suburbia";
  src: url(/Assets/fonts/SuburbiaPersonalUse-vmEaA.ttf);
}
@font-face {
  font-family: "gloria Hallelujah";
  src: url(/Assets/fonts/gloriahallelujah.ttf);
}
@font-face {
  font-family: "Bee Ridge Vintage";
  src: url(/Assets/fonts/BeeRidgeVintageBold.ttf);
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: url(/Assets/img/head_menu.png);
  height: 270px;
}
header label {
  position: absolute;
  margin: 0px;
  top: 1em;
}
header label:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.315);
}

#btn-check {
  display: none;
}

#img-burger {
  display: none;
}
.img-conv {
  margin: 0px;
}
#conv-l {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 3em;
  left: 3em;
}

.barra-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
  border-bottom: 12px dashed #ffffff;
}
.barra-nav ul {
  width: 55%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.barra-nav ul li {
  align-self: center;
  text-align: center;
  font-size: 45px;
  font-family: "Bee Ridge Vintage";
  height: 40px;
  width: 200px;
  -webkit-text-stroke: 1.3px rgb(177, 177, 177);
  -webkit-text-fill-color: rgb(238, 238, 238);
}
.barra-nav ul li:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  -webkit-text-stroke: 1.3px rgb(177, 177, 177);
  -webkit-text-fill-color: rgb(238, 238, 238);
}

/*Página Mujer*/

.contenedor-mujer img {
  width: 40%;
  height: auto;
  margin: 20px 0 15px 0;
}
.contenedor-mujer {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.idArmario {
  position: relative;
  z-index: 20;
}
.armarioMujer {
  display: grid;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 3px;
  position: relative;
}

/*Página Hombre*/

.contenedor-hombre {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2em;
}
.contenedor-hombre img {
  width: 40%;
  height: auto;
  margin: 20px 0 15px 0;
}
.contLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: auto;
}
.idArmario2 {
  position: relative;
  z-index: 20;
}
.armarioHombre {
  display: grid;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 3px;
  position: relative;
}

/*Página niños*/

.content_ninos img {
  width: 40%;
  height: auto;
  margin: 20px 0 15px 0;
}
.content_ninos {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.idArNinos {
  position: relative;
  z-index: 20;
}
.armarioNinos {
  display: grid;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
  position: relative;
}

.cajaimg {
  background: white;
  position: relative;
  left: 12%;
  width: 70%;
  bottom: 50%;
  height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
  border: 6px dashed black;
}
.cajaimg img {
  width: 200px;
}

#imagen-fondo1 {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: block;
}

.img_3es {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.sep-prin {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-bottom: 8px dashed black;
  height: 140px;
}
.sep-prin img {
  width: 100%;
  height: 100%;
}

.cordon1 {
  width: 100%;
}

.cordon1 img {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  bottom: 5em;
}
.logo-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 50%;
}
.logo-2 img {
  position: relative;
  bottom: 100%;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#articulo {
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  font-family: "gloria Hallelujah";
  padding: 5%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parra4 {
  padding: 5em;
  margin: 0px;
  border: 6px solid black;
}

main h1 {
  font-size: 40px;
  font-family: "gloria Hallelujah";
  text-align: center;
}

main h2 {
  text-align: center;
  font-size: 30px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.s1,
.s3,
.s5 {
  width: 100%;
  height: auto;
  border-top: 8px dashed black;
  border-bottom: 8px dashed black;
  margin: 0px;
  padding: 0px;
}

.s2,
.s4 {
  height: 120px;
}

.tienda {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tienda h1 {
  letter-spacing: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Suburbia";
  font-size: 120px;
  width: 20%;
  background-color: white;
  color: rgba(193, 18, 18, 0.858);
  padding: 0px;
  margin: 0px;
}

.pantalon {
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/Assets/img/img_vaquero.png);
  background-size: cover;
}
.cintu img {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10em;
}

.parche {
  margin-bottom: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parche img {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pantalon article p {
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: "gloria Hallelujah";
}
.pantalon article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 3em;
  padding: 18em;
  position: relative;
  bottom: 55em;
}

.img-foot1 {
  width: 100%;
  height: auto;
  border-top: 5px dashed black;
  margin: 0px;
  padding: 0px;
}
.img-foot1 img {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  border-top: 5px dashed black;
}
footer #img-1 img {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

/*Responsive*/
@media only screen and (max-width: 480px) {
  .titulo h1 {
    color: red;
    font-size: 20px;
  }

  .logo-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100px;
  }
  #articulo {
    box-sizing: border-box;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 13px;
    text-align: center;
    font-family: "gloria Hallelujah";
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #conv-l {
    width: 100px;
    height: 100px;
    left: 1em;
    top: 1em;
  }
  .parra4 {
    padding: 1em;
    margin: 0px;
    border: 6px solid black;
  }

  .cordon1 img {
    bottom: 1em;
    position: relative;
  }
  .s2,
  .s4 {
    height: 50px;
  }
  .pantalon article p {
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: "gloria Hallelujah";
  }
  .pantalon article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 3em;
    padding: 4em;
    height: 30px;
    position: relative;
    bottom: 26em;
    overflow: scroll;
  }
  .pantalon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/Assets/img/img_vaquero.png);
    background-size: cover;
    height: 500px;
  }
  .cintu img {
    margin-bottom: 5em;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    background-size: cover;
    height: 100px;
  }
  .cajaimg {
    border: 2px solid black;
    left: 6%;
    width: 70%;
    bottom: 40%;
    height: 200px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
  #img-burger {
    display: flex;
    position: relative;
    left: 19em;
  }
  .barra-nav {
    height: 140px;
    display: flex;
  }
  .barra-nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
  }
  #btn_menu:checked ~ .barra-nav ul {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .s1 .s2 .s3 .s4 .s5 {
    width: 380px;
  }
}
